.about-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50vh; 
  margin: 0;
}

.about-table {
  width: 50%;
  border-collapse: collapse;
  background-color: #d45ddf; 
}

.about-table th,
.about-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  color: #ecf0f1; 
}

.about-table th {
  background-color: #d45ddf; 
}

.about-table tr:hover {
  background-color: #98089a; 
 
}

.about-table tr.expanded {
  background-color: #d45ddf; 
}
